{% extends "base.html" %}

{% block content %}

<section class="page-header">
    <h1 class="page-title">Neue Leihe</h1>
</section>

<section class="card">

<form action="{{ url_for('save_loan') }}" method="post" enctype="multipart/form-data" class="form">

    <div class="form-group">
        <label for="box_code">Box-Code</label>
        <input id="box_code" name="box_code" type="text" placeholder="BOX-001" required>
    </div>

    <div class="form-group">
        <label for="email">E-Mail</label>
        <input id="email" name="email" type="email" required>
    </div>

    <div class="form-group-inline">
        <div class="form-group">
            <label for="ausgabe">Ausgabe</label>
            <input id="ausgabe" name="ausgabe" type="date" min="{{ current_date }}" required>
        </div>

        <div class="form-group">
            <label for="rueckgabe">Rückgabe</label>
            <input id="rueckgabe" name="rueckgabe" type="date" required>
        </div>
    </div>

    <div class="form-group">
        <label for="photo">Foto der Box</label>
        <input id="photo" type="file" name="photo" accept="image/*" required>
    </div>

    <button class="btn-primary full-width">Leihe speichern</button>

</form>

</section>

{% endblock %}
