{% extends "base.html" %}

{% block content %}
<h2>Neue Leihe starten</h2>

<div class="card">
<form action="{{ url_for('save_loan') }}" method="post" class="form">

  <label>Box-ID</label>
  <input type="text" name="box_id" required>

  <label>E-Mail</label>
  <input type="email" name="email" required>

  <label>Ausgabedatum</label>
  <input type="date" name="ausgabe" required>

  <label>Rückgabedatum</label>
  <input type="date" name="rueckgabe" required>

  <button class="btn-primary" type="submit">Leihe speichern</button>

</form>
</div>
{% endblock %}
